name: Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      # SERVER
      - name: Install Server Dependencies
        working-directory: ./server
        run: npm install

      - name: Run Server Lint
        working-directory: ./server
        run: npm run lint

      - name: Run Server Tests
        working-directory: ./server
        run: npm run test

      # CLIENT
      - name: Install Client Dependencies
        working-directory: ./client
        run: npm install

      - name: Run Client Lint
        working-directory: ./client
        run: npm run lint

      - name: Run Client Tests
        working-directory: ./client
        run: npm run test

      - name: Build Client
        working-directory: ./client
        run: npm run build
